ConnectionStrings__Postgres=
ConnectionStrings__Redis=
ExternalServices__Enabled=true
AzureAd__Instance=https://login.microsoftonline.com/
AzureAd__TenantId=
AzureAd__ClientId=
EventHub__ConnectionString=
EventHub__CheckpointStorageConnectionString=
Sap__BaseAddress=
